process {

    withName: PLINK2_VCFEXPANDED {
        ext.args = {
			[
				"--allow-extra-chr",
				"--make-pgen vzs pvar-cols='-xheader,-maybequal,-maybefilter,-maybeinfo,-maybecm'",
				"--missing vcols=fmissdosage,fmiss",
				"--freq",
				"--set-all-var-ids '@:#:\$r:\$a'",
                "--new-id-max-allele-len 500"
			].join(' ').trim()
        }
    }

    withName: PGSCATALOG_MATCH {
		ext.args = { "--min_overlap 0.75 --keep_ambiguous" }

    }
}
