process {
    withName: '.*:PRS_INTERVALS:PRSUTILS_SNPLIST' {
        cpus = 1
		memory = { 5.GB * task.attempt }
		time = { 5.m * task.attempt }
        ext.args = {"--flank 10000"}
    }

  	withName: '.*:PRS_INTERVALS:BCFTOOLS_SORT' {
        cpus = 2
		memory = { 5.GB * task.attempt }
		time = { 30.m * task.attempt }
        ext.args = "--output-type z --write-index=tbi"
		ext.prefix = { "${meta.id}_sort" }
    }

    withName: '.*:BAM_HAPLOTYPECALLER_NORM:GATK4_HAPLOTYPECALLERALLELES' {
        cpus = 2
		memory = { 5.GB * task.attempt }
		time = { 30.m * task.attempt }
        ext.prefix = {"${meta.id}"}
    }

    withName: '.*:BAM_HAPLOTYPECALLER_NORM:BCFTOOLS_NORM' {
        cpus = 2
        memory = { 5.GB * task.attempt }
        time = { 10.m * task.attempt }
        ext.args = [
            "-m -", // Split multi-allelic sites
            "--output-type z",
            "--write-index=tbi"
        ].join(' ').trim()
        ext.prefix = { "${meta.id}_norm"}
    }

    withName: '.*:VCF_PRS_SCORE:PGSCATALOG_MATCH' {
        cpus = 2
		memory = { 5.GB * task.attempt }
		time = { 10.m * task.attempt }
        ext.args = { "--min_overlap 0.75 --keep_ambiguous" }
    }

    withName: '.*:(VCF_PRS_SCORE|VCF_ANCESTRY):PLINK2_VCFEXPANDED' {
        cpus = 2
		memory = { 10.GB * task.attempt }
		time = { 30.m * task.attempt }
        array = params.job_array_size
        ext.args = {
			[
				"--allow-extra-chr",
				"--chr 1-22,X,Y,XY",
				"--make-pgen vzs pvar-cols='-xheader,-maybequal,-maybefilter,-maybeinfo,-maybecm'",
				"--missing vcols=fmissdosage,fmiss",
				"--freq",
				"--set-all-var-ids '@:#:\$r:\$a'",
                "--new-id-max-allele-len 500"
			].join(' ').trim()
		}
    }

    withName: '.*:VCF_ANCESTRY:BCFTOOLS_VIEW' {
        cpus = 2
		memory = { 5.GB * task.attempt }
		time = { 3.h * task.attempt }
		ext.args = "--output-type v"
		ext.prefix = { "${meta.id}_view" }
	}

    withName: '.*:VCF_ANCESTRY:BCFTOOLS_MERGE' {
        cpus = 4
		memory = { 15.GB * task.attempt }
		time = { 3.h * task.attempt }
		ext.args = "--output-type z --write-index=tbi"
		ext.prefix = { "${meta.id}_merge" }
	}

    withName: '.*:VCF_ANCESTRY:PLINK2_EXTRACT' {
        cpus = 2
		memory = { 10.GB * task.attempt }
		time = { 30.m * task.attempt }
        ext.prefix = {"${meta.id}_ldsubset"}
    }

    withName: '.*:VCF_ANCESTRY:ANCESTRY_CALC' {
        time = {1.h * task.attempt}
        cpus = 1
        memory = {10.GB * task.attempt}
        ext.args = {"-k ${5}"}
    }

    withName: '(.*:)BAM_PRS:PRSUTILS_SAMPLEQC' {
        cpus   = 1
        memory = { 2.GB * task.attempt }
        time   = { 10.m * task.attempt }
        ext.args = { "--conf-threshold 0.6 --expected-ancestry EUR --matchrate-threshold 0.75" }
    }

    withName: '(.*:)BAM_PRS:PRSUTILS_MERGEPRSMQC' {
        cpus   = 1
        memory = { 2.GB * task.attempt }
        time   = { 10.m * task.attempt }
    }

   	withName: '.*:PRS_INTERVALS:PGSCATALOG_COMBINE' {
		cpus = 2
		memory = { 5.GB * task.attempt }
		time = { 10.m * task.attempt }
	}
    withName: '.*:VCF_PRS_SCORE:PRSUTILS_NORM' {
		cpus = 1
		memory = { 3.GB * task.attempt }
		time = { 10.m * task.attempt }
    }

    withName: '.*:VCF_PRS_SCORE:PLINK2_SCOREEXPANDED' {
		cpus = 2
		memory = { 10.GB * task.attempt }
		time = { 30.m * task.attempt }
	}

}
