process {


        withName: PLINK2_VCFEXPANDED {
		ext.args = {
			[
				"--allow-extra-chr",
				"--chr 1-22,X,Y,XY",
				"--make-pgen vzs pvar-cols='-xheader,-maybequal,-maybefilter,-maybeinfo,-maybecm'",
				"--missing vcols=fmissdosage,fmiss",
				"--freq",
				"--set-all-var-ids '@:#:\$r:\$a'",
                "--new-id-max-allele-len 500"
			].join(' ').trim()
		}
    }

    withName: PLINK2_EXTRACT {
        ext.prefix = { "${meta.id}_extract" }
    }
}
