params {
    indeppairwise_win  = 200
    indeppairwise_step = 50
    indeppairwise_r2   = 0.2
    pca_npcs           = 5
}

process {
    withName: PLINK2_INDEPPAIRWISE {
        ext.args = { "--bad-ld" }
    }
   	withName: BCFTOOLS_VIEW {
	    ext.args = "--output-type v"
	    ext.prefix = { "${meta.id}_view" }
	}
    withName: BCFTOOLS_MERGE {
		ext.args = "--output-type z --write-index=tbi"
		ext.prefix = { "${meta.id}_merge" }
	}
    withName: PLINK2_VCFEXPANDED {
        ext.args = {
			[
				"--allow-extra-chr",
				"--make-pgen vzs pvar-cols='-xheader,-maybequal,-maybefilter,-maybeinfo,-maybecm'",
				"--missing vcols=fmissdosage,fmiss",
				"--freq",
				"--set-all-var-ids '@:#:\$r:\$a'",
                "--new-id-max-allele-len 500"
			].join(' ').trim()
        }
    }
    withName: PLINK2_EXTRACT {
        ext.prefix = {"${meta.id}_ldsubset"}
    }
}
