params {
    genome_fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.fasta"
    genome_dict = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/genome.dict"
    dbsnp = "https://raw.githubusercontent.com/UMCUGenetics/DxNextflowTestData/main/DxNextflowPRS/dbsnp_v146_grch38_bcac_313.vcf.gz"

    outdir = "outdir"
    assembly_version = "GRCh38"

    ancestry_db      = "https://raw.githubusercontent.com/UMCUGenetics/DxNextflowTestData/main/Subworkflows/bam_prs/test_ref.vcf.gz"
    ancestry_db_meta = "https://raw.githubusercontent.com/UMCUGenetics/DxNextflowTestData/main/Subworkflows/bam_prs/test_ref_meta.psam"
    prs_models = "https://raw.githubusercontent.com/UMCUGenetics/DxNextflowTestData/main/Subworkflows/bam_prs/model_sheet.csv"

    indeppairwise_win  = 200
    indeppairwise_step = 50
    indeppairwise_r2   = 0.2
    pca_npcs           = 5

}
